 <div class="header">
  <a href="#default" class="logo">Nimble Ltd.</a>
  <div class="header-right">
    <!-- <a class="active" href="#home">Home</a> -->
    <%= link_to "All Events", root_path, :class => current_class?(root_path)%>
    <!-- <a href="#contact">Contact</a> -->
    <%= link_to "Add Event", new_event_path, :class => current_class?(new_event_path) %>
    <a href="#about">About</a>
  </div>
</div> 